<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if page.url == "/" %}
        <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
      {% else %}
        <a class="navbar-brand" href="{{ site.baseurl }}/#page-top">{{ site.title }}</a>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          {% if page.url == "/" %}
          <a href="#page-top"></a>
          {% else %}
            <a href="{{ site.baseurl }}/#page-top"></a>
          {% endif %}
        </li>
        <li class="page-scroll">
          {% if page.url == "/" %}
            <a href="#portfolio">Informações</a>
          {% else %}
            <a href="{{ site.baseurl }}/#portfolio">Informações</a>
          {% endif %}
        </li>
        <li class="page-scroll">
          {% if page.url == "/" %}
            <a href="#about">Sobre</a>
          {% else %}
            <a href="{{ site.baseurl }}/#about">Sobre</a>
          {% endif %}
        </li>
        <li class="page-scroll">
          {% if page.url == "/" %}
            <a href="#contact">Contato</a>
          {% else %}
            <a href="{{ site.baseurl }}/#contact">Contato</a>
          {% endif %}
        </li>
        <li class="page-scroll">
          <a href="{{ site.baseurl }}/equipe/">Equipe</a>
        </li>
        <li class="page-scroll">
          <a href="{{ site.baseurl }}/torneios/">Torneios</a>
        </li>
        <li class="page-scroll">
          <a href="{{ site.baseurl }}/apoio/">Apoio</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
